body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.header-logo {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  color: #2e2f42;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.03em;
}
.header-logo-color {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.03em;
}
.strategy-list,
.team-list,
.portfolio-list {
  list-style: none;
  text-decoration: none;
}
.header-list {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;

  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.address-list {
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  font-style: normal;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.address-list a,
.header-list a {
  text-decoration: none;
}

.section {
  background-color: #2e2f42;
  text-align: center;
}
.title {
  font-size: 56px;
  line-height: 60px;
  /* or 107% */
  text-align: center;
  letter-spacing: 0.02em;
  color: white;
}

.title-button {
  color: white;
  background-color: #4d5ae5;
}
.section-title {
  text-align: center;
}
.section-team {
  background-color: #f4f4fd;
}

.footer {
  background-color: #2e2f42;
}
.footer-logo-color {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.03em;
}
.footer-logo {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  color: #f4f4fd;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.03em;
}
.footer-text {
  color: #f4f4fd;
  text-align: left;
}
